
/ {
    chosen {
        seL4,elfloader-devices =
            "serial0";

        seL4,kernel-devices =
            "serial0",
            &{/interrupt-controller@1400000},
            &{/timer};
    };

    memory@80000000 {
        reg = <0x00000000 0x80000000 0x00000000 0xe0000000>; /* 1.5GB */
    };
};
