
/ {
    chosen {
        seL4,elfloader-devices =
            "serial0";

        seL4,kernel-devices =
            "serial0",
            &{/soc/interrupt-controller@1400000},

            &{/timer};
    };
}
